/* =========== Typography ========== */
/* =========== Typography ========== */
html,body{
	width: 100%;
	height: 100%;
}
@font-face{
	font-family: 'Helvetica-Regular';
	src:url(../fonts/Helvetica-Regular.ttf);
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	color: #4d4d4d;
	    height: 100% !important;
}
/* ======DEFAULT BROWSER STYLE========= */

a:focus{
	text-decoration: none;
}
a:focus,.btn:focus,.btn:active:focus,
button:focus,input[type="file"]:focus, 
input[type="radio"]:focus, 
input[type="checkbox"]:focus{
	outline: none;
}
ul,p{
	margin-bottom: 0;
}
.text-white{
	color: #fff !important;
}
/*===============Custom Spacing=============*/
.space10{
	margin-top: 10px;
}
.space20{
	margin-top: 20px;
}
.space30{
	margin-top: 30px;
}
.space40{
	margin-top: 40px;
}
.space50{
	margin-top: 50px;
}
.space60{
	margin-top: 60px;
}
.space70{
	margin-top: 70px;
}
.space80{
	margin-top: 80px;
}
.space90{
	margin-top: 90px;
}
.space100{
	margin-top: 100px;
}
.space200{
	margin-top: 200px;
}

.navbar-default {
    background-color: transparent;
    border: 0;
    min-height: auto;
    padding: 0px 0 16px;
}

/*==================Main Stylesheet==========================*/

/*-----------------------Navbar-------------------------------------*/
.navbar {
    width: 100%;
    position: fixed;
    display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	z-index: 9;
    
}
.navlinks-center {
    display: flex;
    
}
.navlinks-endright {
    display: flex;
    
    
}

/*============================================================*/
/*============================================================*/
.banner {
    display: flex;
    align-items: center;
    
}
.landing-text {
	padding-left: 2em;
}


img.expand { 
	width: 45em; 
}
img.icon { 
	width: 2em; 
}
.medium {
	width: 20em;
}
.social-icons-wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
}
.social-icon {
	padding: 10px;
	opacity: 0.5;
}

.how_it_works {
	background-color: #F2F2F2;
	height: auto;
	margin-left: 4em;
	margin-right: 4em;
}
.flex_row {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.flex-center {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.what-are-you-waiting-for {
	background-color: #1B1458;
	width: 100%;
	padding: 40px;
}
.pricing-boxes {
	background-color: white;
	margin: 10px;

}


/*========================Media Query================================*/
@media(max-width: 1199px){

}
@media(max-width: 991px){
  
}		
@media(max-width: 767px){
    .navbar-default {
	    padding: 5px 0;
	}
	.nav>li>a>img {
	    margin: 0 auto;
	}
	.navbar-default .navbar-nav>li>a {
	    font-size: 24px;
	    font-family: 'Helvetica-Regular';
	}
	.navbar-nav {
	    margin: 0;
	    text-align: center;
	    display: table-cell;
	    vertical-align: middle;
	    height: 100%;
	    width: 100%;
	}
	.navbar-collapse.in{
		right: 15px;
		transition: 0.4s ;
		height: 100% !important;
	}
	.navbar-collapse {
	    position: fixed;
	    background: -webkit-linear-gradient(#656BFD, #7E93FE); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(#656BFD, #7E93FE); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(#656BFD, #7E93FE); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#656BFD, #7E93FE); /* Standard syntax */
	    width: 100%;
	    right: -400px;
	    top: -1px;
	    bottom: 0;
	    max-height: 100% !important;
	    transition: 0.4s ease-in-out;
	    height: 100% !important;
	}
	.navbar-brand {
	    padding: 4px 15px;
	    width: 85%;
	}
	.navbar-default .navbar-toggle{
	    border: 0;
	    box-shadow: none;
	    margin: 0;
	    padding: 0 4px;
	}
	
}
@media only screen and (min-width : 414px) and (max-width : 736px) and (orientation : landscape){

}
@media(max-width: 375px){
    	
}
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation : landscape){

}
@media(max-width: 320px){
    	
}

@media only screen and (min-width : 320px) and (max-width : 568px) and (orientation : landscape){

}